@model Dungeon_Dashboard.ContentGeneration.Models.ContentGenerationViewModel

@{
    ViewData["Title"] = "Random Characters Dashboard";
}

<link rel="stylesheet" href="~/css/randomcharactergenerator.css"/>

<div class="container mt-5">
    <h1 class="text-center mb-4">Random Characters Generator💡</h1>
    <hr/>
    <div class="d-flex justify-content-center mb-4">
        <div class="btn-group" role="group" aria-label="Character Actions">
            <form asp-controller="ContentGeneration" asp-action="GetRandomNPC" method="post">
                <button type="submit" class="btn btn-primary">🧙 Load Random NPC</button>
            </form>
            <form asp-controller="ContentGeneration" asp-action="GetRandomMonster" method="post">
                <button type="submit" class="btn btn-primary">🐲 Load Random Monster</button>
            </form>
            <form asp-controller="ContentGeneration" asp-action="GetRandomEncounter" method="post">
                <button type="submit" class="btn btn-primary">⚔️ Load Random Encounter</button>
            </form>
        </div>
    </div>
    
    @if (Model.ModelType == string.Empty) {
        <div id="placeholder" class="text-center">
            <div class="placeholder p-5 border rounded bg-dark">
                <h3>Welcome to the Random Characters Generator</h3>
                <p class="">Click a button above to generate random NPCs, monsters, or encounters.</p>
            </div>
        </div>
    }
    else if (Model.ModelType == "NPC" && Model.Npc != null) {
        <partial name="Partials/_NPCPartial" model="Model.Npc"/>
    }
    else if (Model.ModelType == "Monster" && Model.Monster != null) {
        <partial name="Partials/_MonsterPartial" model="Model.Monster"/>
    }
    else if (Model.ModelType == "Encounter" && Model.Encounter != null) {
        <partial name="Partials/_EncounterPartial" model="Model.Encounter"/>
    }
    else if (Model.ModelType == "Error" && !string.IsNullOrEmpty(Model.ErrorMessage)) {
        <div id="placeholder" class="text-center">
            <div class="placeholder p-5 border rounded bg-dark">
                <h3>Oops!</h3>
                <p class="">Something went wrong! @Model.ErrorMessage</p>
            </div>
        </div>
    }


</div>
