
@{
    ViewData["Title"] = "Characters";
}
<div class="container-fluid pt-5 text-center">
    <div class="row">
        <div class="col-12">
            <h1>Characters</h1>
        </div>
    </div>
</div>
