@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/HomeIndex.css" />

<div class="text-center" id="main">
    <div class="header">
        <h1 class="display-4">Dungeon Dashboard</h1>
        <img src="/css/logo.png" />
    </div>

    <p>Welcome to the Dungeon Dashboard! This is a tool for Dungeon Masters to help manage their Dungeons & Dragons campaigns. You can use the sidebar to navigate to different sections of the dashboard.</p>
</div>