@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dungeon Dashboard</h1>
    dup a;lskdjfa;lskdjf
    <p>Welcome to your new Dungeon Dashboard.</p>
    <p>Use this dashboard to manage your dungeon and keep track of your adventures.</p>
    <p>Click on the "Home" link above to return to this page.</p>
    <p>Click on the "Privacy" link above to view the privacy policy.</p>
    <p>Click on the "Dungeon" link above to view the dungeon.</p>
    <p>Click on the "Adventures" link above to view the adventures.</p>
    <p>Click on the "Characters" link above to view the characters.</p>
    <p>Click on the "Items" link above to view the items.</p>
    <p>Click on the "Monsters" link above to view the monsters.</p>
    <p>Click on the "Spells" link above to view the spells.</p>
    <p>Click on the "Settings" link above to view the settings.</p>
    <p>Click on the "About" link above to view the about page.</p>
    <p>Click on the "Contact" link above to view the contact page.</p>
        
    <p>Click on the "Login" link above to login.</p>
    <p>Click on the "Register" link above to register.</p>
    <p>Click on the "Logout" link above to logout.</p>
    <p>Click on the "Profile" link above to view your profile.</p>
        
    <p>Click on the "Admin" link above to view the admin page.</p>
        <p>Click on the "Admin - Users" link above to view the admin users page.</p>
        <p>Click on the "Admin - Roles" link above to view the admin roles page.</p>

</div>
