@{
    ViewData["Title"] = "Home Page";
    Layout = "_NewLayout";
}

<link rel="stylesheet" href="~/css/main/Index.css" />

    <div class="index-container">
    <div class="logo-wrapper">
        <h1 >Dungeon Dashboard</h1>
        <img src="css/logo.png" alt="Dungeon Dashboard Logo"/>
    </div>

    <p class="welcome">
        Welcome to the <span>Dungeon Dashboard</span>! This is a tool for Dungeon Masters to manage their Dungeons & Dragons campaigns.
        Use the sidebar to navigate to different sections of the dashboard.
    </p>

    <div class="quote">
        <blockquote>"The imagination is the limit in a game where anything can happen."</blockquote>
        <p>— Gary Gygax, Co-Creator of D&D</p>
    </div>
</div>