.character-header {
    margin-bottom: 20px;
    color: #8a6de6;
}

.character-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #8a6de6;
}

.section-title {
    font-size: 1.5rem;
    color: #8a6de6;
    border-bottom: 2px solid #8a6de6;
    margin-bottom: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    background-color: #8a6de6;
    color: #fff;
}

.actions .btn {
    margin: 5px;
}

.custom-primary {
    background-color: #8a6de6;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.7em 1.5em;
    border-radius: 1rem;
    text-transform: capitalize;
    display: inline-block;
}

.custom-secondary {
    background-color: #9f8be0;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.7em 1.5em;
    border-radius: 1rem;
    text-transform: capitalize;
    display: inline-block;
}

.badge {
    margin-right: 0.8em;
    line-height: 1.5;
}