* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ============================
   BASE LAYOUT
============================ */
html,
body {
    background: url("brick.png") repeat;
}

/* Global dark overlay over background */
html::before {
    content: "";
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

/* ============================
   MAIN BACKGROUND CONTAINER
============================ */
.background {
    position: relative;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow-y: auto;
}

/* Blur layer over wallpaper but under content */
.background::before {
    content: "";
    position: fixed;
    inset: 0;

    backdrop-filter: blur(2px);

    z-index: 1;
}

/* ============================
   BACKGROUND PARTICLES
============================ */
#fireflies {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 3;
}

@media (max-width: 1024px) {
    .content{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}