html {
    font-size: 14px;
    overflow-x: hidden !important;
    overflow-y: auto;
    scrollbar-width: none;
    font-family: "Onest", sans-serif !important;
}

#main {
    background-color: #2f2b3a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1a1625;
    color: #fff;
}

.navbar-brand {
    color: #a688fa !important;
}

.nav-link {
    color: #ba9ffb !important;
}

#sidebar {
    background-color: #2f2b3a;
    color: #ba9ffb;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    transition: left 0.3s;
    padding: 10px;
}

    #sidebar.active {
        left: 0;
        margin: 0;
        padding: 10px;
        z-index: 1;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

#content-wrapper {
    transition: margin-left 0.3s;
}

    #content-wrapper.active {
        margin-left: 250px;
    }

.btn-toolbar {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 50%;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.rotate-360 {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
}

.toolbar-collapse {
    color: #a688fa;
    background-color: #333;
    border: none;
}

.sidebar-options {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    padding: 10px;
    transition: background-color 0.1s;
}

    .sidebar-options a {
        color: #ba9ffb;
        text-decoration: none;
    }

    .sidebar-options ul {
        padding: 0;
        margin: 0;
    }

        .sidebar-options ul li {
            list-style: none;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 5px;
            transition: background-color 0.3s, transform 0.3s;
            text-align: center;
            color: #ba9ffb;
        }

            .sidebar-options ul li:hover {
                background-color: #3f3a4a;
                cursor: pointer;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transform: scale(1.05);
                transform: translateY(-2px);
            }

            .sidebar-options ul li a {
                text-decoration: none;
                color: #ba9ffb;
            }

                .sidebar-options ul li a:hover {
                    color: #a688fa;
                }

.sidebar h3 {
    color: #ba9ffb;
    text-align: center;
}

h1 {
    color: #ba9ffb;
}

.navbar-nav .nav-item {
    margin: 5px;
    text-align: center;
}

.navbar-nav .nav-link {
    display: block;
    padding: 10px 15px;
    color: #ba9ffb;
    text-decoration: none;
    background-color: #2f2b3a;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .navbar-nav .nav-link:hover {
        background-color: #3f3a4a;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        color: #a688fa;
    }

    .navbar-nav .nav-link.active {
        background-color: #5f5a6a;
        color: #fff;
    }

form label {
    color: #a688fa; /* G³ówny kolor, jasny fiolet */
}

.btn-primary {
    background-color: #9e7fed; /* Nieco ciemniejszy fiolet ni¿ g³ówny kolor */
    border-color: #9e7fed;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #8e6fe2; /* Jeszcze ciemniejszy fiolet na hover */
        border-color: #8e6fe2;
    }

.btn-outline-primary {
    color: #ba9ffb; /* G³ówny kolor dla tekstu w przycisku obrysu */
    border-color: #ba9ffb; /* G³ówny kolor dla obrysu */
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:active {
        color: #fff; /* Bia³y tekst na aktywnym/hover przycisku */
        background-color: #9e7fed; /* T³o zmienia siê na ciemniejszy fiolet */
        border-color: #9e7fed; /* Obramowanie te¿ na ciemniejszy fiolet */
    }

/* Uk³ad przycisków jeden pod drugim */
.btn-stack {
    display: flex;
    flex-direction: column;
    width: 100%; /* Pe³na szerokoœæ dla ka¿dego przycisku */
}

    .btn-stack .btn {
        margin-bottom: 10px; /* Odstêp miêdzy przyciskami */
    }