<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Dungeon Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link
        href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Spectral:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">

    <link href="css/layout.css" rel="stylesheet" asp-append-version="true">
    <script src="~/js/magic-bg.js" defer></script>
    
    <link rel="icon" type="image/x-icon" href="~/icons/favicon.ico"/>
</head>

<body>
<partial name="_Navbar"/>

<div class="background">
    <canvas id="fireflies"></canvas>
    <div class="content">
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
