<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Dungeon Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link
        href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Spectral:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet" asp-append-version="true">
    <script src="~/js/magic-bg.js" defer></script>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
    
    <link rel="icon" type="image/x-icon" href="~/icons/favicon.ico"/>
</head>

<body>
<partial name="_Navbar"/>

<div class="background">
    <canvas id="fireflies"></canvas>
    <div class="content">
        @RenderBody()
    </div>
    
    <div aria-live="polite" aria-atomic="true" class="toast-list">
        <div id="toast-container" class="toast-container">
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/userautocomplete.js" asp-append-version="true"></script>
<script src="~/js/toast.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
