@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_NewLayout";
}

<link rel="stylesheet" href="~/css/layout.css">
<link rel="stylesheet" href="~/css/style.css"/>

<h1 class="title">@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
