@{
    ViewData["Title"] = "Turn Keeper";
    Layout = "_NewLayout";
}
<script src="~/js/turnkeeper.js"></script>
<link rel="stylesheet" href="~/css/TurnKeeper.css"/>
<link rel="stylesheet" href="~/css/style.css"/>
<link rel="stylesheet" href="~/css/forms.css"/>

<div class="page-container">
    <h1 class="title">Turn Keeper</h1>

    <div class="card turn-keeper-container" id="main">

        <form id="addParticipantForm">
            <div class="form-fields">
                <div class="form-group">
                    <label class="form-label" for="participantName">👤 Name</label>
                    <input type="text" id="participantName" class="form-input" placeholder="Enter name" required/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="participantInitiative">⚡ Initiative</label>
                    <input type="number" id="participantInitiative" class="form-input" placeholder="Enter initiative"
                           required/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="participantHealth">❤️ Health</label>
                    <input type="number" id="participantHealth" class="form-input" placeholder="Enter health" required/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add Participant</button>
        </form>

        <table id="initiativeTable" class="table">
            <thead>
            <tr>
                <th>👤 Name</th>
                <th>⚡ Initiative</th>
                <th>❤️ Health</th>
                <th>🛠️ Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <partial name="_EditHealthModal"/>
        
        <div id="currentTurn"></div>
        <div id="buttons">
            <button id="removeAllButton" class="btn btn-danger" onclick="removeAllParticipants()">Remove All
            </button>
            <button id="nextTurn" class="btn btn-secondary">Next Turn</button>
        </div>
    </div>
</div>
