.home-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 2rem 6rem 2rem;
    min-height: 100vh;
}

.logo-wrapper {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 2s ease forwards;
}

.welcome { 
    padding-top: 0.5rem;
}
