@model IEnumerable<Dungeon_Dashboard.Room.Models.RoomModel>
@{
	ViewData["Title"] = "Your Rooms";
	Layout = "_NewLayout";
}

<link rel="stylesheet" href="~/css/style.css"/>
<link rel="stylesheet" href="~/css/rooms/rooms.css"/>
<script src="~/js/roomsindex.js"></script>
<div class="page-container">
	<h2 class="title">Your Rooms</h2>

	<a asp-action="Create" class="btn btn-primary btn-new">Create New</a>

	<ul id="rooms">
		@foreach (var room in Model)
		{
			<li class="card">
				<div class="room-info">
					<strong>@room.Name</strong>&nbsp;-&nbsp;Created by: @room.CreatedBy
				</div>
				<div class="actions">
					@if (User.Identity.Name == room.CreatedBy)
					{
						<button type="button"
						        class="btn btn-secondary"
						        onclick="openInviteModal(@room.Id)">
							Invite
						</button>
					}

					<form asp-action="Room" asp-route-id="@room.Id" method="get">
						<button type="submit"
						        class="btn btn-primary">
							Enter Room
						</button>
					</form>
				</div>
			</li>
		}
	</ul>
</div>

<partial name="_InviteModal"/>

<script>
	window.openInviteModal = function (roomId) {
		document.getElementById("invite-roomId").value = roomId;
		document.getElementById("invite-username").value = "";
		$('#inviteModal').modal('show');
	}
</script>

