@{
    ViewData["Title"] = "Your Rooms";
}

<h2>Your Rooms</h2>

<a asp-action="Create" class="btn btn-primary w-100">Create New</a>

<div id="rooms-list" style="background-color: #2f2b3a; color: #ba9ffb; padding: 20px; border-radius: 10px;">
    <ul id="rooms">
    </ul>
</div>

<script>
    
</script>

<script src="~/js/roomsindex.js"></script>
