@using Dungeon_Dashboard.PlayerCharacters
@model CharacterModel

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/CreateCharacter.css" />

<h1>Delete Character</h1>
<div class="container" id="main">
    <h3>Are you sure you want to delete this character?</h3>
    <hr />

    <div class="card mb-4">
        <div class="card-header">Character Information</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>✨Name:</label>
                        <p class="form-control-static">@Model.Name</p>
                    </div>
                    <div class="form-group">
                        <label>🌍Race:</label>
                        <p class="form-control-static">@Model.Race</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>⚔️Class:</label>
                        <p class="form-control-static">@Model.Class</p>
                    </div>
                    <div class="form-group">
                        <label>📈Level:</label>
                        <p class="form-control-static">@Model.Level</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="text-center">
            <input type="submit" style="margin-bottom: 5px;" value="Delete Character" class="btn btn-primary btn-lg" />
            <a asp-action="Index" class="btn btn-secondary btn-lg">Back to List</a>
        </div>
    </form>
</div>
